# Ignore node_modules folder
node_modules/

# Ignore all log files
*.log

# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore IDE specific files (Visual Studio, IntelliJ, etc.)
.vscode/
.idea/

# Ignore Windows system files
Thumbs.db
Desktop.ini

# Ignore macOS system files
.DS_Store
